<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "<%= ENV["GA_TAG"]%>");
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
      <img src="http://orig11.deviantart.net/46f1/f/2015/063/9/2/flat_glass_of_beer_by_superawesomevectors-d8kdgg9.jpg" width="250">
    </div>
    <table class="table">
      <tr><th>Region</th><th>Favourite Beer Type</th><tr>
      <tr><td>Cologne</td><td>Kölsch</td><tr>
      <tr><td>Düsseldorf</td><td>Altbier</td><tr>
      <tr><td>Bavaria</td><td>Hefeweizen</td><tr>
      <tr><td>Leipzig</td><td>Gose Beer</td><tr>
      <% data.each do |beer| %>
        <tr><td><%= beer[:region] %></td><td><%= beer[:brand] %></td><tr>
      <% end %>
    </table>


    <h4>Why not add a new beer?</h4>
    <form method="post" action="/create" class="form-inline">
      <div class="form-group">
        <label for="region">Region</label>
        <input type="text" class="form-control" name="region" name="region"><br>
      </div>
      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" id="brand" name="brand">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <br><br>
    <div>You have been served by server <%= ENV["INSTANCE_INDEX"].to_i + 1 %></div>
    </div>
  </body>
</html>
